@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');
html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-family: "Arvo", serif;
}

main {
display:grid ;
grid-template-columns: repeat(auto-fit,minmax(150px, 1fr)) ;
gap: 5px ;
width: 70% ;
margin: auto ;

}

body{
  display:flex ;
  flex-direction: column ;
  background: var(--green-2)
}

body {
  /* stack grain with a gradient */
  background-image: linear-gradient(15deg, var(--violet-8), var(--orange-9)), var(--noise-5);
  /* force colors and noise to collide */
  filter: var(--noise-filter-3);
  /* fit noise image to element */
  background-size: cover;
  background-repeat: no-repeat ;
}

nav {
  display:flex ;
  align-items: center ;
  justify-content: space-around ;
  border:1px solid  lightgray ;
  background: white ;
  padding-inline: 20px ;
  margin-bottom: 20px ;
  box-shadow: 0px 2px 5px 0px lightgray ;
}

nav p {
  margin-right: auto ;
}

.nav-links {
  display: flex ;
  gap: var(--size-3) ;
}

.vertical-line{
  width: 2px ;
  height: 20px ;
  background: red ;
}

.container{
  border:1px solid  lightgray ;
  border-radius: 15px ;
  background: white ;
  overflow: hidden ;
}
.container img {
  width: 100% ;
  max-height: 150px ;
  object-fit: cover ;
}
.container h1, .container p {
  margin: 0 ;

}
.row {
  padding: 1rem 2rem ;
}
